<form name="apiForm" class="form-horizontal">
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<div class="alert alert-success" ng-show="tokens.accessToken">
				<ul>
					<li ng-if="username">Logged in as <strong>{{username}}</strong>.</li>
					<li ng-if="!username">Not currently logged in.</li>
					<li>The Access Token <span ng-bind-html="accessTokenTime | html"></span>.</li>
					<li>The Refresh Token <span ng-bind-html="refreshTokenTime | html"></span>.</li>
				</ul>
			</div>
			<div class="alert alert-danger" ng-show="!tokens.accessToken">Re-authentication with Bungie.net is required to use Private endpoints.</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">API Key</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="apiKey" placeholder="Enter Your API Key (leave blank to use the test one)">
		</div>
	</div>

	<div class="form-group form-group-auth">
		<label class="col-sm-2 control-label">Authentication</label>
		<div class="col-sm-6"></div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-default" ng-disabled="!tokens.accessToken" ng-click="getAccessTokensFromRefreshToken()">Referesh Token <i ng-show="isRequestingToken" class="fa fa-spin fa-refresh"></i></button>
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-danger" ng-click="authorize()">Authorize <i ng-show="isRequestingAuth" class="fa fa-spin fa-refresh"></i></button>
		</div>
	</div>

	<hr/>

	<div class="form-group">
		<label class="col-sm-2 control-label">Service</label>
		<div class="col-sm-10">
			<select class="form-control" ng-model="service" ng-options="service for service in services"></select>
			<a href="Endpoints#{{service}}" class="read-more" target="_blank">{{service}} Documentation</a>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Endpoint</label>
		<div class="col-sm-10">
			<select class="form-control" ng-model="endpoint" ng-options="endpoint.name group by endpoint.service for endpoint in endpoints"></select>
			<a href="{{service}}/{{endpoint.name}}" class="read-more" target="_blank">{{endpoint.name}} Documentation</a>
			<ul class="endpoint-info">
				<li><strong>URI:</strong> {{endpoint.endpoint}}</li>
				<li><strong>Method:</strong> {{endpoint.method}}</li>
				<li><strong>Accessibility:</strong> {{endpoint.access}}</li>
			</ul>
		</div>
	</div>

	<fieldset ng-show="hasParams(endpoint.path)">
		<legend>URL Parameters</legend>
		<div class="form-group" ng-repeat="(paramFieldName, paramField) in endpoint.path">
			<label class="col-sm-3 control-label">{{paramFieldName}}</label>
			<div class="col-sm-9">
				<input ng-if="!paramField.link" type="text" class="form-control" ng-model="params.path[paramFieldName]" ng-required="true" placeholder="{{paramField.desc}}">
				<select ng-if="paramField.link" class="form-control" ng-model="params.path[paramFieldName]" ng-required="true" ng-options="paramOptionValue as paramOptionKey+' ('+paramOptionValue+')' for (paramOptionKey, paramOptionValue) in fieldOptions(paramField.link)"></select>
			</div>
		</div>
	</fieldset>

	<fieldset ng-show="hasParams(endpoint.params)">
		<legend>Query Parameters</legend>
		<div class="form-group" ng-repeat="(paramFieldName, paramField) in endpoint.params">
			<label class="col-sm-3 control-label">{{paramFieldName}}</label>
			<div class="col-sm-9">
				<input ng-if="!paramField.link" type="text" class="form-control" ng-model="params.query[paramFieldName]" placeholder="{{paramField.desc}}">
				<select ng-if="paramField.link" class="form-control" ng-model="params.query[paramFieldName]" ng-options="paramOptionValue as paramOptionKey+' ('+paramOptionValue+')' for (paramOptionKey, paramOptionValue) in fieldOptions(paramField.link)"></select>
			</div>
		</div>
	</fieldset>

	<fieldset ng-show="hasParams(endpoint.post)">
		<legend>JSON POST Parameters</legend>
		<div class="form-group" ng-repeat="(paramFieldName, paramField) in endpoint.post">
			<label class="col-sm-3 control-label">{{paramFieldName}}</label>
			<div class="col-sm-9">
				<input ng-if="!paramField.link" type="text" class="form-control" ng-model="params.json[paramFieldName]" placeholder="{{paramField.desc}}">
				<select ng-if="paramField.link" class="form-control" ng-model="params.json[paramFieldName]" ng-options="paramOptionValue as paramOptionKey+' ('+paramOptionValue+')' for (paramOptionKey, paramOptionValue) in fieldOptions(paramField.link)"></select>
			</div>
		</div>
	</fieldset>

	<button type="button" class="btn btn-primary pull-right" ng-click="request()" ng-disabled="apiForm.$invalid">Test <i ng-show="isRequesting" class="fa fa-spin fa-refresh"></i></button>

	<hr/>

	<div ng-show="test">
		<h2>Request</h2>

		<h3>Share Link</h3>
		<code><a href="{{test.share}}">{{test.share}}</a></code>

		<h3>Headers</h3>
		<code>
			{{test.request.method}} {{test.request.path}}
			<span class="request-header"><br/>X-API-Key: {your-api-key}</span>
			<span class="request-header"><br/>Authorization: Bearer {your-access-token}</span>
			<!--<span class="request-header" ng-show="endpoint.access == 'Private'"><br/>x-csrf: {bungled-cookie}</span>
			<span class="request-header"><br/>cookie: {bungie-net-cookies}</span>-->
		</code>

		<h3 ng-show="test.request.data">Payload</h3>
		<pre ng-show="test.request.data" syntax-highlight="test.request.data" language="javascript"></pre>

		<h2>Response</h2>
		<code ng-show="test.response">Status Code: {{test.response.status}}</code>
		<pre ng-show="test.response" syntax-highlight="test.response.data" language="javascript"></pre>
	</div>
</form>