{
    "openapi": "3.0.0",
    "info": {
        "title": "Unofficial Bungie.net API",
        "description": "This is an automated extension of the official Bungie.net APIs with information on undocumented/unsupported stuff.",
        "termsOfService": "https://www.bungie.net/en/View/Bungie/terms",
        "contact": {
            "name": "lowlines",
            "url": "https://github.com/DestinyDevs/BungieNetPlatform",
            "email": "lowlines89@gmail.com"
        },
        "license": {
            "name": "BSD License 2.0",
            "url": "https://github.com/DestinyDevs/BungieNetPlatform/blob/master/wiki-builder-v2/LICENSE"
        },
        "version": "2.3.3"
    },
    "servers": [
        {
            "url": "https://www.bungie.net/Platform",
            "description": "The endpoint for accessing the Bungie.net API.  You probably guessed that already."
        }
    ],
    "paths": {
        "/JSONP/GetBungieNetUser/": {
            "summary": "Jsonp.GetCurrentUserPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Jsonp",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Jsonp.GetCurrentUserPromise",
                "parameters": [
                    {
                        "name": "callback",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Jsonp.GetCurrentUserPromise"
                    }
                }
            }
        },
        "/App/GetAccessTokensFromCode/": {
            "summary": "Application.GetAccessTokensFromCodePromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetAccessTokensFromCodePromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetAccessTokensFromCodePromise"
                    }
                }
            }
        },
        "/App/GetAccessTokensFromRefreshToken/": {
            "summary": "Application.GetAccessTokensFromRefreshTokenPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetAccessTokensFromRefreshTokenPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetAccessTokensFromRefreshTokenPromise"
                    }
                }
            }
        },
        "/App/CreateApplication/": {
            "summary": "Application.CreateApplicationPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.CreateApplicationPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.CreateApplicationPromise"
                    }
                }
            }
        },
        "/App/Application/{applicationId}/": {
            "summary": "Application.GetApplication",
            "description": "",
            "get": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetApplication",
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetApplication"
                    }
                }
            }
        },
        "/App/Application/{param1}/": {
            "summary": "Application.GetApplicationPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetApplicationPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetApplicationPromise"
                    }
                }
            }
        },
        "/App/EditApplication/{applicationId}/": {
            "summary": "Application.EditApplication",
            "description": "",
            "post": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.EditApplication",
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.EditApplication"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/App/EditApplication/{param1}/": {
            "summary": "Application.EditApplicationPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.EditApplicationPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.EditApplicationPromise"
                    }
                }
            }
        },
        "/App/ApplicationApiKeys/{applicationId}/": {
            "summary": "Application.GetApplicationApiKeys",
            "description": "",
            "get": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetApplicationApiKeys",
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetApplicationApiKeys"
                    }
                }
            }
        },
        "/App/ApplicationApiKeys/{param1}/": {
            "summary": "Application.GetApplicationApiKeysPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetApplicationApiKeysPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetApplicationApiKeysPromise"
                    }
                }
            }
        },
        "/App/ChangeApiKeyState/{param1}/{param2}/": {
            "summary": "Application.ChangeApiKeyStatusPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.ChangeApiKeyStatusPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.ChangeApiKeyStatusPromise"
                    }
                }
            }
        },
        "/App/CreateApiKey/{param1}/": {
            "summary": "Application.CreateApiKeyPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.CreateApiKeyPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.CreateApiKeyPromise"
                    }
                }
            }
        },
        "/App/ApiUsage/{param1}/": {
            "summary": "Application.GetApplicationApiUsagePromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetApplicationApiUsagePromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetApplicationApiUsagePromise"
                    }
                }
            }
        },
        "/App/Authorizations/{param1}/": {
            "summary": "Application.GetAuthorizationsPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetAuthorizationsPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currentPage",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetAuthorizationsPromise"
                    }
                }
            }
        },
        "/App/Authorization/{param1}/{param2}/": {
            "summary": "Application.GetAuthorizationForUserAndApplicationPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetAuthorizationForUserAndApplicationPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetAuthorizationForUserAndApplicationPromise"
                    }
                }
            }
        },
        "/App/RevokeAuthorization/{param1}/{param2}/": {
            "summary": "Application.RevokeAuthorizationPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.RevokeAuthorizationPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.RevokeAuthorizationPromise"
                    }
                }
            }
        },
        "/App/Search/": {
            "summary": "Application.ApplicationSearchPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.ApplicationSearchPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.ApplicationSearchPromise"
                    }
                }
            }
        },
        "/App/PrivateSearch/": {
            "summary": "Application.PrivateApplicationSearchPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.PrivateApplicationSearchPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.PrivateApplicationSearchPromise"
                    }
                }
            }
        },
        "/App/oauth/token/": {
            "summary": "Application.GetOAuthTokensPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetOAuthTokensPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetOAuthTokensPromise"
                    }
                }
            }
        },
        "/User/CurrentAuthContextSessionState/": {
            "summary": "User.GetCurrentUserAuthContextStatePromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetCurrentUserAuthContextStatePromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetCurrentUserAuthContextStatePromise"
                    }
                }
            }
        },
        "/User/CreateUser/": {
            "summary": "User.CreateUserPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.CreateUserPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.CreateUserPromise"
                    }
                }
            }
        },
        "/User/CreateEmailUser/": {
            "summary": "User.CreateEmailUserPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.CreateEmailUserPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.CreateEmailUserPromise"
                    }
                }
            }
        },
        "/User/UpdateUser/": {
            "summary": "User.UpdateUserPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UpdateUserPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UpdateUserPromise"
                    }
                }
            }
        },
        "/User/UpdateDestinyEmblemAvatar/": {
            "summary": "User.UpdateDestinyEmblemAvatarPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UpdateDestinyEmblemAvatarPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UpdateDestinyEmblemAvatarPromise"
                    }
                }
            }
        },
        "/User/UpdateUserAdmin/{param1}/": {
            "summary": "User.UpdateUserAdminPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UpdateUserAdminPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UpdateUserAdminPromise"
                    }
                }
            }
        },
        "/User/Notification/Update/": {
            "summary": "User.UpdateNotificationSettingPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UpdateNotificationSettingPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UpdateNotificationSettingPromise"
                    }
                }
            }
        },
        "/User/MessageFlags/Success/Update/{param1}/": {
            "summary": "User.EditSuccessMessageFlagsPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.EditSuccessMessageFlagsPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.EditSuccessMessageFlagsPromise"
                    }
                }
            }
        },
        "/User/GetBungieNetUser/": {
            "summary": "User.GetCurrentUserPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetCurrentUserPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetCurrentUserPromise"
                    }
                }
            }
        },
        "/User/GetCounts/": {
            "summary": "User.GetCountsForCurrentUserPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetCountsForCurrentUserPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetCountsForCurrentUserPromise"
                    }
                }
            }
        },
        "/User/GetCurrentBungieNetUser/": {
            "summary": "User.GetCurrentBungieNetUserPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetCurrentBungieNetUserPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetCurrentBungieNetUserPromise"
                    }
                }
            }
        },
        "/User/GetBungieNetUserById/{param1}/": {
            "summary": "User.GetBungieNetUserByIdPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetBungieNetUserByIdPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetBungieNetUserByIdPromise"
                    }
                }
            }
        },
        "/User/GetForumUser/": {
            "summary": "User.GetForumUserPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetForumUserPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetForumUserPromise"
                    }
                }
            }
        },
        "/User/SearchUsersPaged/{searchTerm}/{page}/{param3}/": {
            "summary": "User.SearchUsersPagedV2",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.SearchUsersPagedV2",
                "parameters": [
                    {
                        "name": "searchTerm",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "page",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.SearchUsersPagedV2"
                    }
                }
            }
        },
        "/User/SearchUsersPaged/{param1}/{param2}/{param3}/": {
            "summary": "User.SearchUsersPagedV2Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.SearchUsersPagedV2Promise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.SearchUsersPagedV2Promise"
                    }
                }
            }
        },
        "/User/GetNotificationSettings/": {
            "summary": "User.GetNotificationSettingsPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetNotificationSettingsPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetNotificationSettingsPromise"
                    }
                }
            }
        },
        "/User/GetCredentialTypesForAccount/": {
            "summary": "User.GetCredentialTypesForAccountPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetCredentialTypesForAccountPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetCredentialTypesForAccountPromise"
                    }
                }
            }
        },
        "/User/GetAvailableAvatars/": {
            "summary": "User.GetAvailableAvatarsPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetAvailableAvatarsPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetAvailableAvatarsPromise"
                    }
                }
            }
        },
        "/User/GetAvailableAvatarsAdmin/{param1}/": {
            "summary": "User.GetAvailableAvatarsAdminPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetAvailableAvatarsAdminPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetAvailableAvatarsAdminPromise"
                    }
                }
            }
        },
        "/User/RegisterMobileAppPair/": {
            "summary": "User.RegisterMobileAppPairPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.RegisterMobileAppPairPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.RegisterMobileAppPairPromise"
                    }
                }
            }
        },
        "/User/UnregisterMobileAppPair/{param1}/": {
            "summary": "User.UnregisterMobileAppPairPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UnregisterMobileAppPairPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UnregisterMobileAppPairPromise"
                    }
                }
            }
        },
        "/User/UpdateStateInfoForMobileAppPair/": {
            "summary": "User.UpdateStateInfoForMobileAppPairPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UpdateStateInfoForMobileAppPairPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UpdateStateInfoForMobileAppPairPromise"
                    }
                }
            }
        },
        "/User/GetMobileAppPairingsUncached/": {
            "summary": "User.GetMobileAppPairingsUncachedPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetMobileAppPairingsUncachedPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetMobileAppPairingsUncachedPromise"
                    }
                }
            }
        },
        "/User/LinkOverride/": {
            "summary": "User.LinkOverridePromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.LinkOverridePromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.LinkOverridePromise"
                    }
                }
            }
        },
        "/User/GetMembershipIds/": {
            "summary": "User.GetUserMembershipIdsPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetUserMembershipIdsPromise",
                "parameters": [
                    {
                        "name": "excludebungienet",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetUserMembershipIdsPromise"
                    }
                }
            }
        },
        "/User/GetMembershipsById/{param1}/{param2}/": {
            "summary": "User.GetMembershipDataByIdPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetMembershipDataByIdPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetMembershipDataByIdPromise"
                    }
                }
            }
        },
        "/User/Acknowledged/{ackId}/": {
            "summary": "User.SetAcknowledged",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.SetAcknowledged",
                "parameters": [
                    {
                        "name": "ackId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.SetAcknowledged"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/Acknowledged/{param1}/": {
            "summary": "User.SetAcknowledgedPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.SetAcknowledgedPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.SetAcknowledgedPromise"
                    }
                }
            }
        },
        "/User/{param1}/Partnerships/": {
            "summary": "User.GetPartnershipsPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetPartnershipsPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetPartnershipsPromise"
                    }
                }
            }
        },
        "/User/Partnerships/{param1}/Remove/": {
            "summary": "User.RemovePartnershipPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.RemovePartnershipPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.RemovePartnershipPromise"
                    }
                }
            }
        },
        "/Message/GetConversationByIdV2/{param1}/": {
            "summary": "Message.GetConversationByIdV2Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationByIdV2Promise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationByIdV2Promise"
                    }
                }
            }
        },
        "/Message/GetConversationWithMemberV2/{param1}/": {
            "summary": "Message.GetConversationWithMemberIdV2Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationWithMemberIdV2Promise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationWithMemberIdV2Promise"
                    }
                }
            }
        },
        "/Message/GetConversationThreadV3/{param1}/{param2}/": {
            "summary": "Message.GetConversationThreadV3Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationThreadV3Promise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationThreadV3Promise"
                    }
                }
            }
        },
        "/Message/SaveMessageV3/": {
            "summary": "Message.SaveMessageV3Promise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.SaveMessageV3Promise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.SaveMessageV3Promise"
                    }
                }
            }
        },
        "/Message/SaveMessageV4/": {
            "summary": "Message.SaveMessageV4Promise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.SaveMessageV4Promise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.SaveMessageV4Promise"
                    }
                }
            }
        },
        "/Message/UserIsTyping/": {
            "summary": "Message.UserIsTypingPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.UserIsTypingPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.UserIsTypingPromise"
                    }
                }
            }
        },
        "/Message/CreateConversation/": {
            "summary": "Message.CreateConversationPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.CreateConversationPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.CreateConversationPromise"
                    }
                }
            }
        },
        "/Message/CreateConversationV2/": {
            "summary": "Message.CreateConversationV2Promise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.CreateConversationV2Promise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.CreateConversationV2Promise"
                    }
                }
            }
        },
        "/Message/GetConversationsV5/{currentPage}/": {
            "summary": "Message.GetConversationsV5",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationsV5",
                "parameters": [
                    {
                        "name": "currentPage",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationsV5"
                    }
                }
            }
        },
        "/Message/GetConversationsV5/{param1}/": {
            "summary": "Message.GetConversationsV5Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationsV5Promise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationsV5Promise"
                    }
                }
            }
        },
        "/Message/GetGroupConversations/{param1}/": {
            "summary": "Message.GetGroupConversationsPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetGroupConversationsPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetGroupConversationsPromise"
                    }
                }
            }
        },
        "/Message/GetGroupConversationsV2/{param1}/{param2}/": {
            "summary": "Message.GetGroupConversationsV2Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetGroupConversationsV2Promise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetGroupConversationsV2Promise"
                    }
                }
            }
        },
        "/Message/GetTotalConversationCount/": {
            "summary": "Message.GetTotalConversationCountPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetTotalConversationCountPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetTotalConversationCountPromise"
                    }
                }
            }
        },
        "/Message/GetUnreadConversationCountV4/": {
            "summary": "Message.GetUnreadConversationCountV4Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetUnreadConversationCountV4Promise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetUnreadConversationCountV4Promise"
                    }
                }
            }
        },
        "/Message/GetUnreadGroupConversationCount/": {
            "summary": "Message.GetUnreadGroupConversationCountPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetUnreadGroupConversationCountPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetUnreadGroupConversationCountPromise"
                    }
                }
            }
        },
        "/Message/CheckGroupConversationReadState/{param1}/": {
            "summary": "Message.CheckGroupConversationReadStatePromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.CheckGroupConversationReadStatePromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.CheckGroupConversationReadStatePromise"
                    }
                }
            }
        },
        "/Message/LeaveConversation/{param1}/": {
            "summary": "Message.LeaveConversationPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.LeaveConversationPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.LeaveConversationPromise"
                    }
                }
            }
        },
        "/Message/Invitations/ReviewListDirect/{param1}/": {
            "summary": "Message.ReviewInvitationsPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.ReviewInvitationsPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.ReviewInvitationsPromise"
                    }
                }
            }
        },
        "/Message/Invitations/ReviewAllDirect/{param1}/{param2}/": {
            "summary": "Message.ReviewAllInvitationsPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.ReviewAllInvitationsPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.ReviewAllInvitationsPromise"
                    }
                }
            }
        },
        "/Message/Invitations/ReviewDirect/{invitationId}/{invitationResponseState}/": {
            "summary": "Message.ReviewInvitationDirect",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.ReviewInvitationDirect",
                "parameters": [
                    {
                        "name": "invitationId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "invitationResponseState",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.ReviewInvitationDirect"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/Invitations/ReviewDirect/{param1}/{param2}/": {
            "summary": "Message.ReviewInvitationDirectPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.ReviewInvitationDirectPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.ReviewInvitationDirectPromise"
                    }
                }
            }
        },
        "/Message/Invitations/{param1}/{param2}/{param3}/": {
            "summary": "Message.ReviewInvitationPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.ReviewInvitationPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.ReviewInvitationPromise"
                    }
                }
            }
        },
        "/Message/AllianceInvitations/RequestsToJoinYourGroup/{param1}/{param2}/": {
            "summary": "Message.GetAllianceJoinInvitationsPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetAllianceJoinInvitationsPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetAllianceJoinInvitationsPromise"
                    }
                }
            }
        },
        "/Message/AllianceInvitations/InvitationsToJoinAnotherGroup/{param1}/{param2}/": {
            "summary": "Message.GetAllianceInvitedToJoinInvitationsPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetAllianceInvitedToJoinInvitationsPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetAllianceInvitedToJoinInvitationsPromise"
                    }
                }
            }
        },
        "/Message/Invitations/{param1}/Details/": {
            "summary": "Message.GetInvitationDetailsPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetInvitationDetailsPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetInvitationDetailsPromise"
                    }
                }
            }
        },
        "/Message/Conversations/UpdateLastViewedTimestamp/": {
            "summary": "Message.UpdateConversationLastViewedTimestampPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.UpdateConversationLastViewedTimestampPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.UpdateConversationLastViewedTimestampPromise"
                    }
                }
            }
        },
        "/Message/ModerateGroupWall/{param1}/{param2}/": {
            "summary": "Message.ModerateGroupWallPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.ModerateGroupWallPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.ModerateGroupWallPromise"
                    }
                }
            }
        },
        "/Message/SetUserNotifyPreferenceForConversation/{param1}/{param2}/": {
            "summary": "Message.SetUserNotifyPreferenceForConversationPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.SetUserNotifyPreferenceForConversationPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.SetUserNotifyPreferenceForConversationPromise"
                    }
                }
            }
        },
        "/Message/GetUnreadPrivateConversationCount/": {
            "summary": "Message.GetUnreadConversationCountV2Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetUnreadConversationCountV2Promise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetUnreadConversationCountV2Promise"
                    }
                }
            }
        },
        "/Message/GetConversationById/{conversationId}/": {
            "summary": "Message.GetConversationById",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationById",
                "parameters": [
                    {
                        "name": "conversationId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationById"
                    }
                }
            }
        },
        "/Message/GetConversationById/{param1}/": {
            "summary": "Message.GetConversationByIdPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationByIdPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationByIdPromise"
                    }
                }
            }
        },
        "/Message/GetConversationWithMember/{memberId}/": {
            "summary": "Message.GetConversationWithMemberId",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationWithMemberId",
                "parameters": [
                    {
                        "name": "memberId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationWithMemberId"
                    }
                }
            }
        },
        "/Message/GetConversationWithMember/{param1}/": {
            "summary": "Message.GetConversationWithMemberIdPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationWithMemberIdPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationWithMemberIdPromise"
                    }
                }
            }
        },
        "/Message/SaveMessageV2/": {
            "summary": "Message.SaveMessageV2Promise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.SaveMessageV2Promise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.SaveMessageV2Promise"
                    }
                }
            }
        },
        "/Message/GetConversationsV2/{param1}/{param2}/": {
            "summary": "Message.GetConversationsV2Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationsV2Promise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationsV2Promise"
                    }
                }
            }
        },
        "/Message/GetConversationsV3/{param1}/{param2}/": {
            "summary": "Message.GetConversationsV3Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationsV3Promise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationsV3Promise"
                    }
                }
            }
        },
        "/Message/GetConversationThreadV2/{param1}/{param2}/{param3}/": {
            "summary": "Message.GetConversationThreadV2Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationThreadV2Promise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationThreadV2Promise"
                    }
                }
            }
        },
        "/Notification/GetRecent/": {
            "summary": "Notification.GetRecentNotificationsPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Notification",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Notification.GetRecentNotificationsPromise",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Notification.GetRecentNotificationsPromise"
                    }
                }
            }
        },
        "/Notification/GetCount/": {
            "summary": "Notification.GetRecentNotificationCountPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Notification",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Notification.GetRecentNotificationCountPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Notification.GetRecentNotificationCountPromise"
                    }
                }
            }
        },
        "/Notification/Reset/": {
            "summary": "Notification.ResetNotificationPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Notification",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Notification.ResetNotificationPromise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Notification.ResetNotificationPromise"
                    }
                }
            }
        },
        "/Notification/Events/{param1}/{param2}/": {
            "summary": "Notification.GetRealTimeEventsPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Notification",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Notification.GetRealTimeEventsPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "timeout",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Notification.GetRealTimeEventsPromise"
                    }
                }
            }
        },
        "/Content/GetContentType/{param1}/": {
            "summary": "Content.GetContentTypePromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.GetContentTypePromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.GetContentTypePromise"
                    }
                }
            }
        },
        "/Content/GetContentById/{param1}/{param2}/": {
            "summary": "Content.GetContentByIdPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.GetContentByIdPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "head",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.GetContentByIdPromise"
                    }
                }
            }
        },
        "/Content/GetContentByTagAndType/{param1}/{param2}/{param3}/": {
            "summary": "Content.GetContentByTagAndTypePromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.GetContentByTagAndTypePromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "head",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.GetContentByTagAndTypePromise"
                    }
                }
            }
        },
        "/Content/SearchEx/{param1}/": {
            "summary": "Content.SearchContentExPromise",
            "description": "",
            "postPromise": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.SearchContentExPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "head",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.SearchContentExPromise"
                    }
                }
            }
        },
        "/Content/Search/{param1}/": {
            "summary": "Content.SearchContentWithTextPromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.SearchContentWithTextPromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "head",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ctype",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currentpage",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchtext",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.SearchContentWithTextPromise"
                    }
                }
            }
        },
        "/Content/SearchContentByTagAndType/{param1}/{param2}/{param3}/": {
            "summary": "Content.SearchContentByTagAndTypePromise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.SearchContentByTagAndTypePromise",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "head",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currentpage",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "itemsperpage",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.SearchContentByTagAndTypePromise"
                    }
                }
            }
        },
        "/Content/Site/Homepage/V3/": {
            "summary": "Content.GetHomepageContentV3Promise",
            "description": "",
            "getPromise": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.GetHomepageContentV3Promise",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.GetHomepageContentV3Promise"
                    }
                }
            }
        },
        "/Content/Site/Publications/{param1}/": {
            "summary": "Content.GetPublicationsPromise",
            "description": "",
[...]
