{
    "openapi": "3.0.0",
    "info": {
        "title": "Unofficial Bungie.net API for Destiny 1",
        "description": "These are legacy endpoints for Destiny 1 that are no longer supported officially by Bungie.",
        "termsOfService": "https://www.bungie.net/en/View/Bungie/terms",
        "contact": {
            "name": "lowlines",
            "url": "https://github.com/DestinyDevs/BungieNetPlatform",
            "email": "lowlines89@gmail.com"
        },
        "license": {
            "name": "BSD License 2.0",
            "url": "https://github.com/DestinyDevs/BungieNetPlatform/blob/master/wiki-builder-v2/LICENSE"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://bungie.net/d1/Platform",
            "description": "The final resting place for the first 3 years of Destiny."
        }
    ],
    "paths": {
        "/Destiny/Advisors/V2/": {
            "summary": "Destiny.GetPublicAdvisorsV2",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetPublicAdvisorsV2",
                "parameters": [
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetPublicAdvisorsV2"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Advisors/": {
            "summary": "Destiny.GetAdvisorsForAccount",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetAdvisorsForAccount",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetAdvisorsForAccount"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Advisors/V2/": {
            "summary": "Destiny.GetAdvisorsForCharacterV2",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetAdvisorsForCharacterV2",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetAdvisorsForCharacterV2"
                    }
                }
            }
        },
        "/Destiny/Manifest/": {
            "summary": "Destiny.GetDestinyManifest",
            "description": "Returns the current version of the Destiny 1 mobile manifest as a json object.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns the current version of the Destiny 1 mobile manifest as a json object.",
                "operationId": "Destiny.GetDestinyManifest",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.Config.DestinyManifest"
                    }
                }
            }
        },
        "/Destiny/Manifest/{definitionType}/{definitionId}/": {
            "summary": "Destiny.GetDestinySingleDefinition",
            "description": "Returns a single definition from the manifest as json object.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns a single definition from the manifest as json object.",
                "operationId": "Destiny.GetDestinySingleDefinition",
                "parameters": [
                    {
                        "name": "definitionType",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "$ref": "#/components/schemas/Destiny.DefinitionType"
                        },
                        "required": true
                    },
                    {
                        "name": "definitionId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetDestinySingleDefinition"
                    }
                }
            }
        },
        "/Destiny/SearchDestinyPlayer/{membershipType}/{displayName}/": {
            "summary": "Destiny.SearchDestinyPlayer",
            "description": "Returns a list of players by username and platform.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns a list of players by username and platform.",
                "operationId": "Destiny.SearchDestinyPlayer",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "displayName",
                        "in": "path",
                        "description": "A valid display name to search for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.SearchDestinyPlayer"
                    }
                }
            }
        },
        "/Destiny/{param1}/Account/{param2}/Character/{param3}/ItemReference/{param4}/": {
            "summary": "Destiny.GetItemReferenceDetail",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetItemReferenceDetail",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param4",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetItemReferenceDetail"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Items/": {
            "summary": "Destiny.GetAllItemsSummary",
            "description": "Returns all items for a given account.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns all items for a given account.",
                "operationId": "Destiny.GetAllItemsSummary",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetAllItemsSummary"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/": {
            "summary": "Destiny.GetAccount",
            "description": "Returns Destiny account information for the supplied membership.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns Destiny account information for the supplied membership.",
                "operationId": "Destiny.GetAccount",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetAccount"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Summary/": {
            "summary": "Destiny.GetAccountSummary",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetAccountSummary",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetAccountSummary"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/MyAccount/Vault/": {
            "summary": "Destiny.GetVault",
            "description": "Returns the contents of player's Vault.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns the contents of player's Vault.",
                "operationId": "Destiny.GetVault",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Destiny membership ID.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetVault"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/MyAccount/Vault/Summary/": {
            "summary": "Destiny.GetVaultSummary",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetVaultSummary",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "accountId",
                        "in": "query",
                        "description": "Destiny membership ID.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetVaultSummary"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/": {
            "summary": "Destiny.GetCharacterSummary",
            "description": "Returns Destiny character information for the given characterId.<br/>To get a more detailed overview, see the private endpoint [[GetDestinyAccountCharacterComplete]].",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns Destiny character information for the given characterId.<br/>To get a more detailed overview, see the private endpoint [[GetDestinyAccountCharacterComplete]].",
                "operationId": "Destiny.GetCharacterSummary",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetCharacterSummary"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Complete/": {
            "summary": "Destiny.GetCharacter",
            "description": "Returns Destiny character information with a given characterId. This endpoint is an extended version of [[GetCharacterSummary]].",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns Destiny character information with a given characterId. This endpoint is an extended version of [[GetCharacterSummary]].",
                "operationId": "Destiny.GetCharacter",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetCharacter"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Inventory/": {
            "summary": "Destiny.GetCharacterInventory",
            "description": "Returns the inventory of a Destiny character.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns the inventory of a Destiny character.",
                "operationId": "Destiny.GetCharacterInventory",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetCharacterInventory"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Inventory/Summary/": {
            "summary": "Destiny.GetCharacterInventorySummary",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetCharacterInventorySummary",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetCharacterInventorySummary"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Inventory/{itemInstanceId}/": {
            "summary": "Destiny.GetItemDetail",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetItemDetail",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "itemInstanceId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetItemDetail"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Activities/": {
            "summary": "Destiny.GetCharacterActivities",
            "description": "Returns activity progress for a given character.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns activity progress for a given character.",
                "operationId": "Destiny.GetCharacterActivities",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetCharacterActivities"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Progression/": {
            "summary": "Destiny.GetCharacterProgression",
            "description": "Returns progression information for a given Destiny character.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns progression information for a given Destiny character.",
                "operationId": "Destiny.GetCharacterProgression",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetCharacterProgression"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Triumphs/": {
            "summary": "Destiny.GetTriumphs",
            "description": "Returns a list of triumph sets for a given account.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns a list of triumph sets for a given account.",
                "operationId": "Destiny.GetTriumphs",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetTriumphs"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/MyAccount/RecordBooks/{recordBookHash}/Completion/": {
            "summary": "Destiny.GetRecordBookCompletionStatus",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetRecordBookCompletionStatus",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "recordBookHash",
                        "in": "path",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetRecordBookCompletionStatus"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/MyAccount/Character/{characterId}/Vendors/": {
            "summary": "Destiny.GetAllVendorsForCurrentCharacter",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetAllVendorsForCurrentCharacter",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetAllVendorsForCurrentCharacter"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/MyAccount/Character/{characterId}/Vendors/Summaries/": {
            "summary": "Destiny.GetVendorSummariesForCurrentCharacter",
            "description": "Returns a summary of Vendors for a given Destiny character.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns a summary of Vendors for a given Destiny character.",
                "operationId": "Destiny.GetVendorSummariesForCurrentCharacter",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetVendorSummariesForCurrentCharacter"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/MyAccount/Character/{characterId}/Vendor/{vendorHash}/": {
            "summary": "Destiny.GetVendorForCurrentCharacter",
            "description": "Returns information about a Vendor for a given Destiny character.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns information about a Vendor for a given Destiny character.",
                "operationId": "Destiny.GetVendorForCurrentCharacter",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "vendorHash",
                        "in": "path",
                        "description": "A valid vendorHash.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetVendorForCurrentCharacter"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/MyAccount/Character/{characterId}/Vendor/{vendorHash}/Item/{vendorItemId}/": {
            "summary": "Destiny.GetVendorItemDetailForCurrentCharacter",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetVendorItemDetailForCurrentCharacter",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "vendorHash",
                        "in": "path",
                        "description": "A valid vendorHash.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "required": true
                    },
                    {
                        "name": "vendorItemId",
                        "in": "path",
                        "description": "A valid vendorItemIndex see [[GetVendorForCurrentCharacter]].",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetVendorItemDetailForCurrentCharacter"
                    }
                }
            }
        },
        "/Destiny/Advisors/": {
            "summary": "Destiny.GetPublicAdvisors",
            "description": "Returns information about current daily, weekly and special events.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns information about current daily, weekly and special events.",
                "operationId": "Destiny.GetPublicAdvisors",
                "parameters": [
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetPublicAdvisors"
                    }
                }
            }
        },
        "/Destiny/Advisors/Xur/": {
            "summary": "Destiny.GetPublicXurVendor",
            "description": "Returns advisor information about the vendor Xur in Destiny.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns advisor information about the vendor Xur in Destiny.",
                "operationId": "Destiny.GetPublicXurVendor",
                "parameters": [
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetPublicXurVendor"
                    }
                }
            }
        },
        "/Destiny/Vendors/{vendorHash}/": {
            "summary": "Destiny.GetPublicVendor",
            "description": "Returns Public information for a given Vendor.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns Public information for a given Vendor.",
                "operationId": "Destiny.GetPublicVendor",
                "parameters": [
                    {
                        "name": "vendorHash",
                        "in": "path",
                        "description": "A valid vendorHash.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetPublicVendor"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/MyAccount/Character/{characterId}/Advisors/": {
            "summary": "Destiny.GetAdvisorsForCurrentCharacter",
            "description": "Returns advisor information about a given character.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns advisor information about a given character.",
                "operationId": "Destiny.GetAdvisorsForCurrentCharacter",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetAdvisorsForCurrentCharacter"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/Advisors/": {
            "summary": "Destiny.GetAdvisorsForCharacter",
            "description": "Returns advisor information about a given character.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns advisor information about a given character.",
                "operationId": "Destiny.GetAdvisorsForCharacter",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetAdvisorsForCharacter"
                    }
                }
            }
        },
        "/Destiny/Events/": {
            "summary": "Destiny.GetSpecialEventAdvisors",
            "description": "Returns a list of currently active events.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns a list of currently active events.",
                "operationId": "Destiny.GetSpecialEventAdvisors",
                "parameters": [
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetSpecialEventAdvisors"
                    }
                }
            }
        },
        "/Destiny/LiveTiles/": {
            "summary": "Destiny.GetDestinyLiveTileContentItems",
            "description": "Returns a list of \"tiles\" used on the Bungie.net website.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns a list of \"tiles\" used on the Bungie.net website.",
                "operationId": "Destiny.GetDestinyLiveTileContentItems",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetDestinyLiveTileContentItems"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/MyAccount/Advisors/Bonds/": {
            "summary": "Destiny.GetBondAdvisors",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetBondAdvisors",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetBondAdvisors"
                    }
                }
            }
        },
        "/Destiny/Vendors/{vendorHash}/Metadata/": {
            "summary": "Destiny.GetPublicVendorWithMetadata",
            "description": "Returns Public information for a given Vendor, with metadata.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns Public information for a given Vendor, with metadata.",
                "operationId": "Destiny.GetPublicVendorWithMetadata",
                "parameters": [
                    {
                        "name": "vendorHash",
                        "in": "path",
                        "description": "A valid vendorHash.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetPublicVendorWithMetadata"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/MyAccount/Character/{characterId}/Vendor/{vendorHash}/Metadata/": {
            "summary": "Destiny.GetVendorForCurrentCharacterWithMetadata",
            "description": "Returns information about a Vendor for a given Destiny character with metadata.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns information about a Vendor for a given Destiny character with metadata.",
                "operationId": "Destiny.GetVendorForCurrentCharacterWithMetadata",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "vendorHash",
                        "in": "path",
                        "description": "A valid vendorHash.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetVendorForCurrentCharacterWithMetadata"
                    }
                }
            }
        },
        "/Destiny/{membershipType}/MyAccount/Character/{characterId}/Vendor/{vendorHash}/Item/{vendorItemId}/Metadata/": {
            "summary": "Destiny.GetVendorItemDetailForCurrentCharacterWithMetadata",
            "description": "Returns an item from a Vendor's inventory for a given character with metadata.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns an item from a Vendor's inventory for a given character with metadata.",
                "operationId": "Destiny.GetVendorItemDetailForCurrentCharacterWithMetadata",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "vendorHash",
                        "in": "path",
                        "description": "A valid vendorHash.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "required": true
                    },
                    {
                        "name": "vendorItemId",
                        "in": "path",
                        "description": "A valid vendorItemIndex see [[GetVendorForCurrentCharacter]].",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetVendorItemDetailForCurrentCharacterWithMetadata"
                    }
                }
            }
        },
        "/Destiny/TransferItem/": {
            "summary": "Destiny.TransferItem",
            "description": "Moves items to and from a character and the vault.",
            "post": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Moves items to and from a character and the vault.",
                "operationId": "Destiny.TransferItem",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.TransferItem"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "membershipType": {
                                        "$ref": "#/components/schemas/BungieMembershipType",
                                        "description": "The type of account for which info will be extracted."
                                    },
                                    "itemReferenceHash": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "The inventoryItemHash for an item."
                                    },
                                    "itemId": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "The instanceId of an equipable item. Should be \"0\" otherwise."
                                    },
                                    "stackSize": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "How many items to transfer. Should be \"1\" for equipable items."
                                    },
                                    "characterId": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "A valid characterId that is associated with the given account."
                                    },
                                    "transferToVault": {
                                        "type": "boolean",
                                        "description": "Move the item to or from the vault; true or false"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Destiny/EquipItem/": {
            "summary": "Destiny.EquipItem",
            "description": "Equips an item from a character's inventory. The endpoint will fail if the character is logged in and doing an activity.",
            "post": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Equips an item from a character's inventory. The endpoint will fail if the character is logged in and doing an activity.",
                "operationId": "Destiny.EquipItem",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.EquipItem"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "membershipType": {
                                        "$ref": "#/components/schemas/BungieMembershipType",
                                        "description": "The type of account for which info will be extracted."
                                    },
                                    "itemId": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "The instanceId of an equipable item. Should be \"0\" otherwise."
                                    },
                                    "characterId": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "A valid characterId that is associated with the given account."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Destiny/EquipItems/": {
            "summary": "Destiny.EquipItems",
            "description": "Equips multiple items from a character's inventory and returns the updated inventory and character information. The endpoint will fail if the character is logged in and doing an activity.\n\n**Note:** This is an [experimental endpoint](https://www.bungie.net/en/Clan/Post/39966/187691777/1) that was accidentally left in. While it should work as intended, it may return [incorrect response data and has a higher bandwidth](https://www.bungie.net/en/Clan/Post/39966/196303703/0/0) than simply making multiple [[EquipItem]] requests.",
            "post": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Equips multiple items from a character's inventory and returns the updated inventory and character information. The endpoint will fail if the character is logged in and doing an activity.\n\n**Note:** This is an [experimental endpoint](https://www.bungie.net/en/Clan/Post/39966/187691777/1) that was accidentally left in. While it should work as intended, it may return [incorrect response data and has a higher bandwidth](https://www.bungie.net/en/Clan/Post/39966/196303703/0/0) than simply making multiple [[EquipItem]] requests.",
                "operationId": "Destiny.EquipItems",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.EquipItems"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "membershipType": {
                                        "$ref": "#/components/schemas/BungieMembershipType",
                                        "description": "The type of account for which info will be extracted."
                                    },
                                    "itemIds": {
                                        "type": "array",
                                        "items": {
                                            "description": "The instanceId of an equipable item. Should be \"0\" otherwise.",
                                            "type": "integer",
                                            "format": "int64"
                                        },
                                        "description": "An array of item instanceIds to equip."
                                    },
                                    "characterId": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "A valid characterId that is associated with the given account."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Destiny/SetLockState/": {
            "summary": "Destiny.SetItemLockState",
            "description": "Changes the lock state on an equipable item.",
            "post": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Changes the lock state on an equipable item.",
                "operationId": "Destiny.SetItemLockState",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.SetItemLockState"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "membershipType": {
                                        "$ref": "#/components/schemas/BungieMembershipType",
                                        "description": "The type of account for which info will be extracted."
                                    },
                                    "itemId": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "A valid instanceId of an item to lock/unlock."
                                    },
                                    "characterId": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "A valid characterId that is associated with the given account."
                                    },
                                    "state": {
                                        "type": "boolean",
                                        "description": "The item lock state, true to lock, false to unlock."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Destiny/SetQuestTrackedState/": {
            "summary": "Destiny.SetQuestTrackedState",
            "description": "Set the track state of a given quest.",
            "post": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Set the track state of a given quest.",
                "operationId": "Destiny.SetQuestTrackedState",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.SetQuestTrackedState"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "membershipType": {
                                        "$ref": "#/components/schemas/BungieMembershipType",
                                        "description": "The type of account for which info will be extracted."
                                    },
                                    "destinyMembershipId": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "Destiny membership ID."
                                    },
                                    "itemId": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "The unique item hash of the quest item."
                                    },
                                    "characterId": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "A valid characterId that is associated with the given account."
                                    },
                                    "state": {
                                        "type": "boolean",
                                        "description": "true = tracked, false = not-tracked"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Destiny/Stats/Definition/": {
            "summary": "Destiny.GetHistoricalStatsDefinition",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetHistoricalStatsDefinition",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetHistoricalStatsDefinition"
                    }
                }
            }
        },
        "/Destiny/Stats/{membershipType}/{destinyMembershipId}/{characterId}/": {
            "summary": "Destiny.GetHistoricalStats",
            "description": "Returns historical stat information about a given Destiny character.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns historical stat information about a given Destiny character.",
                "operationId": "Destiny.GetHistoricalStats",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "periodType",
                        "in": "query",
                        "description": "Indicates a specific period type to return.",
                        "schema": {
                            "$ref": "#/components/schemas/Destiny.PeriodType"
                        }
                    },
                    {
                        "name": "modes",
                        "in": "query",
                        "description": "Game modes to return. Comma separated.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/Destiny.ActivityModeType"
                            }
                        }
                    },
                    {
                        "name": "groups",
                        "in": "query",
                        "description": "Group of stats to include, otherwise only general stats are returned. Comma separated.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/Destiny.StatsGroupType"
                            }
                        }
                    },
                    {
                        "name": "monthstart",
                        "in": "query",
                        "description": "First month to return when monthly stats are requested. Use the format YYYY-MM.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "monthend",
                        "in": "query",
                        "description": "Last month to return when monthly stats are requested. Use the format YYYY-MM.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "daystart",
                        "in": "query",
                        "description": "First day to return when daily stats are requested. Use the format YYYY-MM-DD.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dayend",
                        "in": "query",
                        "description": "Last day to return when daily stats are requested. Use the format YYYY-MM-DD.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetHistoricalStats"
                    }
                }
            }
        },
        "/Destiny/Stats/Account/{membershipType}/{destinyMembershipId}/": {
            "summary": "Destiny.GetHistoricalStatsForAccount",
            "description": "Gets aggregate historical stats organized around each character for a given account.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Gets aggregate historical stats organized around each character for a given account.",
                "operationId": "Destiny.GetHistoricalStatsForAccount",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "groups",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetHistoricalStatsForAccount"
                    }
                }
            }
        },
        "/Destiny/Stats/ActivityHistory/{membershipType}/{destinyMembershipId}/{characterId}/": {
            "summary": "Destiny.GetActivityHistory",
            "description": "Returns recent activity history for a given character.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns recent activity history for a given character.",
                "operationId": "Destiny.GetActivityHistory",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "mode",
                        "in": "query",
                        "description": "Game mode to return. Required.",
                        "schema": {
                            "$ref": "#/components/schemas/Destiny.ActivityModeType"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The number of results to return.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The current page to return. Starts at 1.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetActivityHistory"
                    }
                }
            }
        },
        "/Destiny/Stats/UniqueWeapons/{membershipType}/{destinyMembershipId}/{characterId}/": {
            "summary": "Destiny.GetUniqueWeaponHistory",
            "description": "Gets details about unique weapon usage, including all exotic weapons.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Gets details about unique weapon usage, including all exotic weapons.",
                "operationId": "Destiny.GetUniqueWeaponHistory",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "characterId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "definitions",
                        "in": "query",
                        "description": "Include definitions in the response. Use while testing.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetUniqueWeaponHistory"
                    }
                }
            }
        },
        "/Destiny/Stats/Leaderboards/{membershipType}/{destinyMembershipId}/": {
            "summary": "Destiny.GetLeaderboards",
            "description": "Returns leaderboard stats compared against friends. Note you may need to re-authenticate with PSN/Xbox in order to see full rankings.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns leaderboard stats compared against friends. Note you may need to re-authenticate with PSN/Xbox in order to see full rankings.",
                "operationId": "Destiny.GetLeaderboards",
                "parameters": [
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    },
                    {
                        "name": "destinyMembershipId",
                        "in": "path",
                        "description": "Destiny membership ID.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "modes",
                        "in": "query",
                        "description": "Game modes to return. Comma separated.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/Destiny.ActivityModeType"
                            }
                        }
                    },
                    {
                        "name": "statid",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxtop",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetLeaderboards"
                    }
                }
            }
        },
        "/Destiny/Stats/ClanLeaderboards/{clanId}/": {
            "summary": "Destiny.GetClanLeaderboards",
            "description": "",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Destiny.GetClanLeaderboards",
                "parameters": [
                    {
                        "name": "clanId",
                        "in": "path",
                        "description": "A valid clan ID.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": true
                    },
                    {
                        "name": "modes",
                        "in": "query",
                        "description": "Game modes to return. Comma separated.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/Destiny.ActivityModeType"
                            }
                        }
                    },
                    {
                        "name": "statid",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxtop",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetClanLeaderboards"
                    }
                }
            }
        },
        "/Destiny/Stats/LeaderboardsForPsn/": {
            "summary": "Destiny.GetLeaderboardsForPsn",
            "description": "Returns leaderboard stats compared against PSN friends. Note, you may need re-authenticate with PSN in order to see full rankings.",
            "get": {
                "tags": [
                    "Destiny",
                    "Unofficial"
                ],
                "description": "Returns leaderboard stats compared against PSN friends. Note, you may need re-authenticate with PSN in order to see full rankings.",
                "operationId": "Destiny.GetLeaderboardsForPsn",
                "parameters": [
                    {
                        "name": "modes",
                        "in": "query",
                        "description": "Game modes to return. Comma separated.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/Destiny.ActivityModeType"
                            }
                        }
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Destiny.GetLeaderboardsForPsn"
                    }
                }
            }
        },
[...]
