{
    "openapi": "3.0.0",
    "info": {
        "title": "Unofficial Bungie.net API",
        "description": "This is an automated extension of the official Bungie.net APIs with information on undocumented/unsupported stuff.",
        "termsOfService": "https://www.bungie.net/en/View/Bungie/terms",
        "contact": {
            "name": "lowlines",
            "url": "https://github.com/DestinyDevs/BungieNetPlatform",
            "email": "lowlines89@gmail.com"
        },
        "license": {
            "name": "BSD License 2.0",
            "url": "https://github.com/DestinyDevs/BungieNetPlatform/blob/master/wiki-builder-v2/LICENSE"
        },
        "version": "2.0.1"
    },
    "servers": [
        {
            "url": "https://www.bungie.net/Platform",
            "description": "The endpoint for accessing the Bungie.net API.  You probably guessed that already."
        }
    ],
    "paths": {
        "/JSONP/GetBungieNetUser/": {
            "summary": "Jsonp.GetCurrentUser",
            "description": "",
            "get": {
                "tags": [
                    "Jsonp",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Jsonp.GetCurrentUser",
                "parameters": [
                    {
                        "name": "callback",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Jsonp.GetCurrentUser"
                    }
                }
            }
        },
        "/App/GetAccessTokensFromCode/": {
            "summary": "Application.GetAccessTokensFromCode",
            "description": "",
            "post": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetAccessTokensFromCode",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetAccessTokensFromCode"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "description": ""
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/App/GetAccessTokensFromRefreshToken/": {
            "summary": "Application.GetAccessTokensFromRefreshToken",
            "description": "",
            "post": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetAccessTokensFromRefreshToken",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetAccessTokensFromRefreshToken"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "refreshToken": {
                                        "type": "string",
                                        "description": ""
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/App/CreateApplication/": {
            "summary": "Application.CreateApplication",
            "description": "",
            "post": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.CreateApplication",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.CreateApplication"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/App/Application/{applicationId}/": {
            "summary": "Application.GetApplication",
            "description": "",
            "get": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetApplication",
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetApplication"
                    }
                }
            }
        },
        "/App/EditApplication/{applicationId}/": {
            "summary": "Application.EditApplication",
            "description": "",
            "post": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.EditApplication",
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.EditApplication"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/App/ApplicationApiKeys/{applicationId}/": {
            "summary": "Application.GetApplicationApiKeys",
            "description": "",
            "get": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetApplicationApiKeys",
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetApplicationApiKeys"
                    }
                }
            }
        },
        "/App/ChangeApiKeyState/{param1}/{param2}/": {
            "summary": "Application.ChangeApiKeyStatus",
            "description": "",
            "post": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.ChangeApiKeyStatus",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.ChangeApiKeyStatus"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/App/CreateApiKey/{param1}/": {
            "summary": "Application.CreateApiKey",
            "description": "",
            "post": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.CreateApiKey",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.CreateApiKey"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/App/Authorizations/{param1}/": {
            "summary": "Application.GetAuthorizations",
            "description": "",
            "get": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetAuthorizations",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currentPage",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetAuthorizations"
                    }
                }
            }
        },
        "/App/Authorization/{param1}/{param2}/": {
            "summary": "Application.GetAuthorizationForUserAndApplication",
            "description": "",
            "get": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetAuthorizationForUserAndApplication",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetAuthorizationForUserAndApplication"
                    }
                }
            }
        },
        "/App/RevokeAuthorization/{param1}/{param2}/": {
            "summary": "Application.RevokeAuthorization",
            "description": "",
            "post": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.RevokeAuthorization",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.RevokeAuthorization"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/App/Search/": {
            "summary": "Application.ApplicationSearch",
            "description": "",
            "post": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.ApplicationSearch",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.ApplicationSearch"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/App/PrivateSearch/": {
            "summary": "Application.PrivateApplicationSearch",
            "description": "",
            "post": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.PrivateApplicationSearch",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.PrivateApplicationSearch"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/App/oauth/token/": {
            "summary": "Application.GetOAuthTokens",
            "description": "",
            "post": {
                "tags": [
                    "Application",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Application.GetOAuthTokens",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Application.GetOAuthTokens"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/CreateUser/": {
            "summary": "User.CreateUser",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.CreateUser",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.CreateUser"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/UpdateUser/": {
            "summary": "User.UpdateUser",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UpdateUser",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UpdateUser"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "about": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "adultMode": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "displayName": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "emailAddress": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "emailUsage": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "locale": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "localeInheritDefault": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "profilePicture": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "profileTheme": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "showActivity": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "showFacebookPublic": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "showGamertagPublic": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "showGroupMessaging": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "showPsnPublic": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "uniqueName": {
                                        "type": "string",
                                        "description": ""
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/UpdateDestinyEmblemAvatar/": {
            "summary": "User.UpdateDestinyEmblemAvatar",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UpdateDestinyEmblemAvatar",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UpdateDestinyEmblemAvatar"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/UpdateUserAdmin/{param1}/": {
            "summary": "User.UpdateUserAdmin",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UpdateUserAdmin",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UpdateUserAdmin"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/Notification/Update/": {
            "summary": "User.UpdateNotificationSetting",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UpdateNotificationSetting",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UpdateNotificationSetting"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/MessageFlags/Success/Update/{param1}/": {
            "summary": "User.EditSuccessMessageFlags",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.EditSuccessMessageFlags",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.EditSuccessMessageFlags"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/GetBungieNetUser/": {
            "summary": "User.GetCurrentUser",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetCurrentUser",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetCurrentUser"
                    }
                }
            }
        },
        "/User/GetCounts/": {
            "summary": "User.GetCountsForCurrentUser",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetCountsForCurrentUser",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetCountsForCurrentUser"
                    }
                }
            }
        },
        "/User/GetCurrentBungieNetUser/": {
            "summary": "User.GetCurrentBungieNetUser",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetCurrentBungieNetUser",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetCurrentBungieNetUser"
                    }
                }
            }
        },
        "/User/GetBungieAccount/{membershipId}/{membershipType}/": {
            "summary": "User.GetBungieAccount",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetBungieAccount",
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "description": "The membershipId related to that type.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "membershipType",
                        "in": "path",
                        "description": "The type of account for which info will be extracted.",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BungieMembershipType"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetBungieAccount"
                    }
                }
            }
        },
        "/User/GetCurrentBungieAccount/": {
            "summary": "User.GetCurrentBungieAccount",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetCurrentBungieAccount",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetCurrentBungieAccount"
                    }
                }
            }
        },
        "/User/SearchUsersPaged/{searchTerm}/{page}/{param3}/": {
            "summary": "User.SearchUsersPagedV2",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.SearchUsersPagedV2",
                "parameters": [
                    {
                        "name": "searchTerm",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "page",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.SearchUsersPagedV2"
                    }
                }
            }
        },
        "/User/GetNotificationSettings/": {
            "summary": "User.GetNotificationSettings",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetNotificationSettings",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetNotificationSettings"
                    }
                }
            }
        },
        "/User/GetCredentialTypesForAccount/": {
            "summary": "User.GetCredentialTypesForAccount",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetCredentialTypesForAccount",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetCredentialTypesForAccount"
                    }
                }
            }
        },
        "/User/GetAvailableAvatars/": {
            "summary": "User.GetAvailableAvatars",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetAvailableAvatars",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetAvailableAvatars"
                    }
                }
            }
        },
        "/User/GetAvailableAvatarsAdmin/{param1}/": {
            "summary": "User.GetAvailableAvatarsAdmin",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetAvailableAvatarsAdmin",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetAvailableAvatarsAdmin"
                    }
                }
            }
        },
        "/User/RegisterMobileAppPair/": {
            "summary": "User.RegisterMobileAppPair",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.RegisterMobileAppPair",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.RegisterMobileAppPair"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/UnregisterMobileAppPair/{param1}/": {
            "summary": "User.UnregisterMobileAppPair",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UnregisterMobileAppPair",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UnregisterMobileAppPair"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/UpdateStateInfoForMobileAppPair/": {
            "summary": "User.UpdateStateInfoForMobileAppPair",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.UpdateStateInfoForMobileAppPair",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.UpdateStateInfoForMobileAppPair"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/GetMobileAppPairings/": {
            "summary": "User.GetMobileAppPairings",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetMobileAppPairings",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetMobileAppPairings"
                    }
                }
            }
        },
        "/User/GetMobileAppPairingsUncached/": {
            "summary": "User.GetMobileAppPairingsUncached",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetMobileAppPairingsUncached",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetMobileAppPairingsUncached"
                    }
                }
            }
        },
        "/User/GetSignOutUrl/": {
            "summary": "User.GetSignOutUrl",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetSignOutUrl",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetSignOutUrl"
                    }
                }
            }
        },
        "/User/LinkOverride/": {
            "summary": "User.LinkOverride",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.LinkOverride",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.LinkOverride"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/GetMembershipIds/": {
            "summary": "User.GetUserMembershipIds",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetUserMembershipIds",
                "parameters": [
                    {
                        "name": "excludebungienet",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetUserMembershipIds"
                    }
                }
            }
        },
        "/User/Acknowledged/{ackId}/": {
            "summary": "User.SetAcknowledged",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.SetAcknowledged",
                "parameters": [
                    {
                        "name": "ackId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.SetAcknowledged"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/User/GetPlatformApiKeysForUser/": {
            "summary": "User.GetPlatformApiKeysForUser",
            "description": "",
            "get": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.GetPlatformApiKeysForUser",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.GetPlatformApiKeysForUser"
                    }
                }
            }
        },
        "/User/Partnerships/{param1}/Remove/": {
            "summary": "User.RemovePartnership",
            "description": "",
            "post": {
                "tags": [
                    "User",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "User.RemovePartnership",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/User.RemovePartnership"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/GetConversationByIdV2/{param1}/": {
            "summary": "Message.GetConversationByIdV2",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationByIdV2",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationByIdV2"
                    }
                }
            }
        },
        "/Message/GetConversationWithMemberV2/{param1}/": {
            "summary": "Message.GetConversationWithMemberIdV2",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationWithMemberIdV2",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationWithMemberIdV2"
                    }
                }
            }
        },
        "/Message/GetConversationThreadV3/{param1}/{param2}/": {
            "summary": "Message.GetConversationThreadV3",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationThreadV3",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationThreadV3"
                    }
                }
            }
        },
        "/Message/SaveMessageV3/": {
            "summary": "Message.SaveMessageV3",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.SaveMessageV3",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.SaveMessageV3"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/SaveMessageV4/": {
            "summary": "Message.SaveMessageV4",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.SaveMessageV4",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.SaveMessageV4"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/UserIsTyping/": {
            "summary": "Message.UserIsTyping",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.UserIsTyping",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.UserIsTyping"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/CreateConversation/": {
            "summary": "Message.CreateConversation",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.CreateConversation",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.CreateConversation"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/CreateConversationV2/": {
            "summary": "Message.CreateConversationV2",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.CreateConversationV2",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.CreateConversationV2"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/GetConversationsV5/{currentPage}/": {
            "summary": "Message.GetConversationsV5",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationsV5",
                "parameters": [
                    {
                        "name": "currentPage",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationsV5"
                    }
                }
            }
        },
        "/Message/GetGroupConversations/{param1}/": {
            "summary": "Message.GetGroupConversations",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetGroupConversations",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetGroupConversations"
                    }
                }
            }
        },
        "/Message/GetGroupConversationsV2/{param1}/{param2}/": {
            "summary": "Message.GetGroupConversationsV2",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetGroupConversationsV2",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetGroupConversationsV2"
                    }
                }
            }
        },
        "/Message/GetTotalConversationCount/": {
            "summary": "Message.GetTotalConversationCount",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetTotalConversationCount",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetTotalConversationCount"
                    }
                }
            }
        },
        "/Message/GetUnreadConversationCountV4/": {
            "summary": "Message.GetUnreadConversationCountV4",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetUnreadConversationCountV4",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetUnreadConversationCountV4"
                    }
                }
            }
        },
        "/Message/GetUnreadGroupConversationCount/": {
            "summary": "Message.GetUnreadGroupConversationCount",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetUnreadGroupConversationCount",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetUnreadGroupConversationCount"
                    }
                }
            }
        },
        "/Message/CheckGroupConversationReadState/{param1}/": {
            "summary": "Message.CheckGroupConversationReadState",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.CheckGroupConversationReadState",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.CheckGroupConversationReadState"
                    }
                }
            }
        },
        "/Message/LeaveConversation/{param1}/": {
            "summary": "Message.LeaveConversation",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.LeaveConversation",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.LeaveConversation"
                    }
                }
            }
        },
        "/Message/Invitations/ReviewListDirect/{param1}/": {
            "summary": "Message.ReviewInvitations",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.ReviewInvitations",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.ReviewInvitations"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/Invitations/ReviewAllDirect/{param1}/{param2}/": {
            "summary": "Message.ReviewAllInvitations",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.ReviewAllInvitations",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.ReviewAllInvitations"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/Invitations/ReviewDirect/{invitationId}/{invitationResponseState}/": {
            "summary": "Message.ReviewInvitationDirect",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.ReviewInvitationDirect",
                "parameters": [
                    {
                        "name": "invitationId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "invitationResponseState",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.ReviewInvitationDirect"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/Invitations/{param1}/{param2}/{param3}/": {
            "summary": "Message.ReviewInvitation",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.ReviewInvitation",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.ReviewInvitation"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/AllianceInvitations/RequestsToJoinYourGroup/{param1}/{param2}/": {
            "summary": "Message.GetAllianceJoinInvitations",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetAllianceJoinInvitations",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetAllianceJoinInvitations"
                    }
                }
            }
        },
        "/Message/AllianceInvitations/InvitationsToJoinAnotherGroup/{param1}/{param2}/": {
            "summary": "Message.GetAllianceInvitedToJoinInvitations",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetAllianceInvitedToJoinInvitations",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetAllianceInvitedToJoinInvitations"
                    }
                }
            }
        },
        "/Message/Invitations/{param1}/Details/": {
            "summary": "Message.GetInvitationDetails",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetInvitationDetails",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetInvitationDetails"
                    }
                }
            }
        },
        "/Message/Conversations/UpdateLastViewedTimestamp/": {
            "summary": "Message.UpdateConversationLastViewedTimestamp",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.UpdateConversationLastViewedTimestamp",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.UpdateConversationLastViewedTimestamp"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/ModerateGroupWall/{param1}/{param2}/": {
            "summary": "Message.ModerateGroupWall",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.ModerateGroupWall",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.ModerateGroupWall"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/SetUserNotifyPreferenceForConversation/{param1}/{param2}/": {
            "summary": "Message.SetUserNotifyPreferenceForConversation",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.SetUserNotifyPreferenceForConversation",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.SetUserNotifyPreferenceForConversation"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/GetConversationsV4/{param1}/": {
            "summary": "Message.GetConversationsV4",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationsV4",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationsV4"
                    }
                }
            }
        },
        "/Message/GetUnreadConversationCountV3/": {
            "summary": "Message.GetUnreadConversationCountV3",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetUnreadConversationCountV3",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetUnreadConversationCountV3"
                    }
                }
            }
        },
        "/Message/GetUnreadPrivateConversationCount/": {
            "summary": "Message.GetUnreadConversationCountV2",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetUnreadConversationCountV2",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetUnreadConversationCountV2"
                    }
                }
            }
        },
        "/Message/GetConversationById/{conversationId}/": {
            "summary": "Message.GetConversationById",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationById",
                "parameters": [
                    {
                        "name": "conversationId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationById"
                    }
                }
            }
        },
        "/Message/GetConversationWithMember/{memberId}/": {
            "summary": "Message.GetConversationWithMemberId",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationWithMemberId",
                "parameters": [
                    {
                        "name": "memberId",
                        "in": "path",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationWithMemberId"
                    }
                }
            }
        },
        "/Message/SaveMessageV2/": {
            "summary": "Message.SaveMessageV2",
            "description": "",
            "post": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.SaveMessageV2",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.SaveMessageV2"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Message/GetConversationsV2/{param1}/{param2}/": {
            "summary": "Message.GetConversationsV2",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationsV2",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationsV2"
                    }
                }
            }
        },
        "/Message/GetConversationsV3/{param1}/{param2}/": {
            "summary": "Message.GetConversationsV3",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationsV3",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationsV3"
                    }
                }
            }
        },
        "/Message/GetConversationThreadV2/{param1}/{param2}/{param3}/": {
            "summary": "Message.GetConversationThreadV2",
            "description": "",
            "get": {
                "tags": [
                    "Message",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Message.GetConversationThreadV2",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Message.GetConversationThreadV2"
                    }
                }
            }
        },
        "/Notification/GetRecent/": {
            "summary": "Notification.GetRecentNotifications",
            "description": "",
            "get": {
                "tags": [
                    "Notification",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Notification.GetRecentNotifications",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Notification.GetRecentNotifications"
                    }
                }
            }
        },
        "/Notification/GetCount/": {
            "summary": "Notification.GetRecentNotificationCount",
            "description": "",
            "get": {
                "tags": [
                    "Notification",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Notification.GetRecentNotificationCount",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Notification.GetRecentNotificationCount"
                    }
                }
            }
        },
        "/Notification/Reset/": {
            "summary": "Notification.ResetNotification",
            "description": "",
            "get": {
                "tags": [
                    "Notification",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Notification.ResetNotification",
                "parameters": [],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Notification.ResetNotification"
                    }
                }
            }
        },
        "/Notification/Events/{param1}/{param2}/": {
            "summary": "Notification.GetRealTimeEvents",
            "description": "",
            "get": {
                "tags": [
                    "Notification",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Notification.GetRealTimeEvents",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "timeout",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Notification.GetRealTimeEvents"
                    }
                }
            }
        },
        "/Content/GetContentType/{param1}/": {
            "summary": "Content.GetContentType",
            "description": "",
            "get": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.GetContentType",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.GetContentType"
                    }
                }
            }
        },
        "/Content/GetContentById/{param1}/{param2}/": {
            "summary": "Content.GetContentById",
            "description": "",
            "get": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.GetContentById",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "head",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.GetContentById"
                    }
                }
            }
        },
        "/Content/GetContentByTagAndType/{param1}/{param2}/{param3}/": {
            "summary": "Content.GetContentByTagAndType",
            "description": "",
            "get": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.GetContentByTagAndType",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param2",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "param3",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "head",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.GetContentByTagAndType"
                    }
                }
            }
        },
        "/Content/SearchEx/{param1}/": {
            "summary": "Content.SearchContentEx",
            "description": "",
            "post": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.SearchContentEx",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "head",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.SearchContentEx"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": []
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/Content/Search/{param1}/": {
            "summary": "Content.SearchContentWithText",
            "description": "",
            "get": {
                "tags": [
                    "Content",
                    "Unofficial"
                ],
                "description": "",
                "operationId": "Content.SearchContentWithText",
                "parameters": [
                    {
                        "name": "param1",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "head",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ctype",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currentpage",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "searchtext",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Content.SearchContentWithText"
                    }
[...]
